<div class="left-half">
  <section>
    <h3>Contato</h3>
    <div class="container">
      <a><p><i class="fab fa-whatsapp fa-2x"></i> 11 9 5079-0732</p></a>
      <a><p><i class="fas fa-inbox fa-2x"></i> encomendas@saudavel.me</p></a>
      <a><p><i class="fab fa-facebook-square fa-2x"></i> @saudavel.me</p></a>
      <a><p><i class="fab fa-instagram fa-2x"></i> @saudavel.me</p></a>
    </div>

    <h4>Formas de Pagamento</h4>
    <div class="container">
      <img src="/assets/images/formas_de_pagamento/fc-cash.svg" width=60 height=40>
      <img src="/assets/images/formas_de_pagamento/fc-deposito-bancario.svg" width=60 height=40>
      <img src="/assets/images/formas_de_pagamento/fc-cielo.svg" width=60 height=40>
      <img src="/assets/images/formas_de_pagamento/fc-elo.svg" width=60 height=40>
      <img src="/assets/images/formas_de_pagamento/fc-hipercard.svg" width=60 height=40>
      <img src="/assets/images/formas_de_pagamento/fc-maestro.svg" width=60 height=40>
      <img src="/assets/images/formas_de_pagamento/fc-mastercard.svg" width=60 height=40>
      <img src="/assets/images/formas_de_pagamento/fc-pagseguro.svg" width=60 height=40>
      <img src="/assets/images/formas_de_pagamento/fc-rede.svg" width=60 height=40>
      <img src="/assets/images/formas_de_pagamento/fc-visa.svg" width=60 height=40>
    </div>

  </section>
</div>

<div class="right-half">
  <section>
    <h4>Me siga no Instagram <a href="https://instagram.com/saudavel.me" target="_blank"><i class="fab fa-instagram"></i></a> </h4>
    <iframe src="http://snapwidget.com/sl/?u=bWVsYW5pZS5wb3J0Zm9saW98aW58MzAwfDN8M3x8bm98NXxub25lfG9uU3RhcnR8eWVzfG5v&ve=301115" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:305px; height:305px"></iframe>
  </section>
</div>
